* {
  outline: 1px dashed color
}
h1 {
  color: white;
  background-color: #598331;
}
a {
  color: black;
}
img {
  width: 70%;
}
.grandpa {
  width: 25%;
}
.menu {
  width: 25%;
}
nav {
  background-color: white;
  float: left;
  width: 125px;
  height: 150px;
  display: inline-block;
  font-size: 18px;
}
main {
  margin-left: 150px;
}
footer {
  color: white;
  background-color: #598331;
}
